extends layout
block content
  #previewpane
    .name
    .author
    .sdesc
    img.avatar
    button#switch Change
    button#clone Clone
    #history History
      ul.history
  #change
    .error
    input(type='text',name='lang')
    button#preview Preview
    button#changebtn Change
