#loginerror
form#loginform
  fieldset
    label(for='username') User
    input(name='username',type='text')
    label(for='password') Pass
    input(name='password',type='password')
    input(type='submit',value='Login')
